# The MariaDB configuration file for slave
[client-server]
socket = /run/mysqld/mysqld.sock

# Import all .cnf files from configuration directory
[mariadbd]
log-bin
server_id=2
log-basename=slave1
binlog-format=mixed
skip-host-cache
skip-name-resolve

!includedir /etc/mysql/mariadb.conf.d/
!includedir /etc/mysql/conf.d/